@page "/handbooks/create"
@using Microsoft.AspNetCore.Components.Forms
<div>
    <h3 class="text-center">Create a new handbook</h3>
</div>
<div>
    <EditForm Model="@Model" OnValidSubmit="HandelValidSubmit">
        <DataAnnotationsValidator />

        <div>
            <ValidationSummary />
            <div class="form-group row">
                <label for="title" class="col-2">Title</label>
                <InputText @bind-Value="Model.Title" class="form-control col-9" id="title" />
                <ValidationMessage For="@(()=>Model.Title)" />
            </div>
            <div class="form-group row">
                <label for="price" class="col-2">Price</label>
                <InputNumber @bind-Value="Model.Price" class="form-control col-9" id="price" />
                <ValidationMessage For="@(()=>Model.Price)" />
            </div>
            <div class="form-group row">
                <label for="issuedate" class="col-2">IssueDate</label>
                <InputDate @bind-Value="Model.IssueDate" class="form-control col-9" id="issuedate" />
                <ValidationMessage For="@(()=>Model.IssueDate)" />
            </div>
            @*<div class="form-group row">
                <label for="course" class="col-2">Course</label>
                <InputSelect @bind-Value="Model.Course" class="form-control col-9" id="course">
                    <option> -- Select a course</option>
                    @foreach (var course in Courses)
                    {
                        <option value="@course.CourseName"> @course.CourseName</option>
                    }
                </InputSelect>
               
                <ValidationMessage For="@(()=>Model.Course)" />
            </div>*@
        </div>
    

        <button type="submit" class="btn btn-primary">Save</button>
    </EditForm>
</div>