@page "/handbooks/list"

@if (Handbooks is null)
{
    <p><em>Loading ...</em></p>
}
else
{
    <table class="table table-hover">

        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Issued</th>
                <th scope="col">Course</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Handbooks.Count > 0)
            {
                @foreach (var handbook in Handbooks)
                {
                    <tr>
                        <td class="row_form"><img src="images/@handbook.PhotoUrl" alt="Alternate Text" class="img_form" /></td>
                        <td class="row_form">@handbook.HandbookId</td>
                        <td class="row_form">@handbook.Title</td>
                        <td class="row_form">@handbook.Price</td>
                        <td class="row_form">@handbook.Course.CourseName</td>
                        <td class="row_form">
                            <a href="@($"handbooks/details/{handbook.HandbookId}")">Details</a> |
                            <a href="@($"handbooks/edit/{handbook.HandbookId}")">Edit</a> |
                            <button class="btn btn-link" @onclick="e=>Delete_Click(handbook)">Delete</button>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="5" class="text-danger">No handbook</td>
                </tr>
            }

        </tbody>
    </table>
}